@model CadastroPessoa.Models.PessoaFisica

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>
    Tem certeza de que deseja excluir a pessoa "@Html.DisplayFor(model => model.Name)"?
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAdmissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDemissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDemissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
