@model IEnumerable<CadastroPessoa.Models.PessoaJuridica>

@{ 
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <tead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.Endereco)
            </th>
            <th></th>
        </tr>
    </tead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Endereco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
